stages:
  - build-base
  - build
  - deploy

############################
# GLOBAL VARIABLES / HOOKS #
############################

.before_script: &ecr_login
  - eval "$ECR_LOGIN_COMMAND"

############################
#     FRONTEND PIPELINE    #
############################

# build-base-frontend:
#   stage: build-base
#   tags:
#     - cybuild2-exec
#   before_script: *ecr_login
#   script:
#     - cd frontend
#     - docker build -f Dockerfile-base -t $DOCKER_FRONT_BASE_IMG:latest .
#     - docker push $DOCKER_FRONT_BASE_IMG:latest
#   only:
#     refs:
#       - develop
#     changes:
#       - frontend/package.json

build-frontend-dev:
  stage: build
  tags:
    - shivalik-front
  before_script: *ecr_login
  script:
    - echo "$VAR_FILE_FRONT" >> .env
    - docker build -f Dockerfile -t $DOCKER_FRONT_IMG:latest .
    - docker push $DOCKER_FRONT_IMG:latest
  only:
      - master


deploy-frontend-dev:
  stage: deploy
  tags:
    - shivalik-front
  script:
    - cd /home/ubuntu/deploy/front/
    - docker compose -f docker-compose.yml pull
    - docker compose -f docker-compose.yml up -d
    - echo "Frontend Deployment Successful"
    - docker system prune -a -f
  only:
      - master
