@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
Primary colors: primary-white (#FDFFFC), primary-gray (#E9ECEF), primary-black (#001219)
*/

@layer base {
  :root {
    /* Primary Colors */
    --primary-white: #FDFFFC;
    --primary-gray: #E9ECEF;
    --primary-black: #001219;
  }
}

/* Multi line ellipsis class for common usage */
.ellipsis-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@layer base {
  * {
    border-color: var(--primary-gray);
  }

  body {
    background-color: var(--primary-white);
    color: var(--primary-black);
    font-family: 'Bricolage Grotesque', sans-serif;
  }
}